div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}

.news-date-time {
	color: #525351;
  top: 10px;
  position: relative;
}

.read-more a {
  padding: 10px 20px;
  font-size: 14px;
  color: #525351;
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
  border: 2px solid #525351;  
  background-color: #F4F4F4;
}

.read-more a:hover {
  text-decoration: underline;
}

.pagenavigation span.active, .pagenavigation a {
    padding: 0.2em 0.3em;
}
.pagenavigation span.active {
    background: #E5E5D8;
}
.pagenavigation .numbers {
    font-size: 1.2em;
    margin: 0.3em 0;
}