ul#vertical-multilevel-menu, #vertical-multilevel-menu ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size:12px;
}

/*Submenu box*/
#vertical-multilevel-menu li ul
{
	position:absolute;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:500;
	height:auto;
	border: 0;
	padding:  5px 25px;
	width: 190px;
	background: #E7EFF4;
}

/* Submenu Items */
#vertical-multilevel-menu li a
{
	display: block;
	text-decoration: none;
	color: #787878;
	font-weight:normal;
	font-size: 15px;
	padding: 8px 0;
}

/*Items selected*/
#vertical-multilevel-menu li a.item-selected
{
	/*background-color: #D6D6D6;*/
}

/*Items Hover */
#vertical-multilevel-menu li ul li a:hover
{
	 text-decoration: underline;
}

/*Rootmenu Items*/
#vertical-multilevel-menu a.root-item
{
	border:none;
	/*height:26px;
	overflow:hidden;*/
	color: #787878;
    font-size: 17px;
    font-weight: normal;
    line-height: 20px;
    text-decoration: none;
    padding: 8px 0px;
}

#vertical-multilevel-menu a.root-item, #vertical-multilevel-menu a.root-item-selected
{
    padding: 8px 17px !important;
}

/*Rootmenu Items hover*/
#vertical-multilevel-menu a.root-item:hover, #vertical-multilevel-menu a.root-item-selected:hover
{
	background: none repeat scroll 0 0 #CFE5EF;
    padding: 8px 17px;
    color: #fff;
}

/*Rootmenu Items Selected*/
#vertical-multilevel-menu a.root-item-selected
{
	color: #787878;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
  padding: 8px 0px;
}

/*Parent item*/
#vertical-multilevel-menu a.parent
{
	background: #F5F5F5 url(images/arrow.gif) center right no-repeat;
	padding-right:10px;
}

/*Denied items*/
#vertical-multilevel-menu a.denied
{
	background: #F5F5F5 url(images/lock.gif) center right no-repeat;
	color:#DDDDDD;
	padding-right:10px;
}

/* Holly Hack. IE Requirement \*/
* html ul#vertical-multilevel-menu li { float: left; height: 1%; }
* html ul#vertical-multilevel-menu li a { height: 1%; }
/* End */


/*Submenu margin*/
#vertical-multilevel-menu li ul.root-item
{
	margin: -36px 0 0 218px;

}

#vertical-multilevel-menu li ul
{
	margin:-27px 0 0 133px;
}

/*Submenu hide*/
#vertical-multilevel-menu li:hover ul ul,
#vertical-multilevel-menu li.jsvhover ul ul,
#vertical-multilevel-menu li:hover ul ul ul,
#vertical-multilevel-menu li.jsvhover ul ul ul
{
	/*top:-999em;*/
	display:none;
}

/*Submenu show*/
#vertical-multilevel-menu li:hover ul,
#vertical-multilevel-menu li.jsvhover ul,
#vertical-multilevel-menu li li:hover ul,
#vertical-multilevel-menu li li.jsvhover ul,
#vertical-multilevel-menu li li li:hover ul,
#vertical-multilevel-menu li li li.jsvhover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}


li.li-current ul {
	list-style-type: none;

	display: block!important;
	margin: 0px!important;
	position: relative!important;
	background-color: #fff!important;
}

li.li-current ul > li > a {
	padding-left: 7px!important;
}
li.li-current ul > li {
	text-indent: -5px;
}
li.li-current ul > li:before {
	content: "-";
	text-indent: -5px;
	color: #787878;
	position: absolute;
	padding-top: 10px;
}