/*1600 - 1366; 1366-800; 800-320; 320 и меньше*/

/* Menu */

.menu {
    background: #555 url('../images/menu-bg.jpg') repeat left top;
    left: -285px;
    height: 100%;
    position: fixed;
    width: 285px;
    z-index: 100;
    z-index: 110;
    overflow-y: auto;
    overflow-x: hidden;
}
.mobile_menu_item a {
    font-weight: bold;
}

/* Basic CSS */

.menu ul {
    border-top: 1px solid #555;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid #555;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}

.menu li:hover {
    cursor: pointer;
    background-color: #555;
}

.menu a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-close {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 6px;
}

.icon-menu {
    color: #787878;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 21px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    z-index: 100;
}

.icon-menu img {
    margin-right: 5px;
    width: 22px;
}
/*end Menu*/


/* Адаптив для 4-х типов разрешения*/
/* Large Devices, Wide Screens */
.adaptive_menu {
    display: none;
}
.small_resolution {
    display: none;
}
.top-logo_mobile {
    display: none;
}
.drop_menu_mobile {
    display: none;
}
.mobile_menu_item {
    display: flex;
    justify-content: space-between;
}
.child_menu_link {
    padding-right: 10px;
    padding-top: 10px;
}
.child_menu_list {
    display: none;
}
.search_mobile {
    display: none;
}
.mobile_menu_header {
    display: flex;
    justify-content: space-between;
}
.search_mobile {
    width: 60%!important;
    margin-top: 10px!important;
    margin-right: 10px!important;
}
.search_mobile #search button {
    display: inline-block;
}
.search_mobile #search input {
    width: 70%
}
.search-page input {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
}

@media only screen and (max-width : 1200px) {
    #vertical-multilevel-menu {
        display: none;
    }
    .adaptive_menu {
        display: block;
    }
    .top-logo {
        text-align: left;
    }
    .lang-menu {
        margin: 0px;
    }
    .column-left-inner {
        margin-right: 0px;
    }
    .doc a.download {
        display: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .main-content {
        padding-left: 244px;
    }
    .doc {
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        color: #6FA287;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 22px;
        padding: 6px 8px 1px 43px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #wrapper {
        min-width: 0px;
    }
    .column-left-inner {
        margin-right: 0px;
    }
    .nav {
        width: 100%;
        height: 60px;
        background-color: #fff;
    }
    .main .main-content {
        padding-left: 0px;
    }
    .right-box {
        padding: 16px 40px 0 30px;
        position: absolute;
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        top: 0px;
        margin-right: 5px;
        width: 100%;
    }
    .footer_banner {
        display: none;
    }
    .image-inner {
        display: none;
    }
    .top-logo img {
        width: 90px;
    }
    .lang-menu {
        margin-right: 40px;
        border-bottom: 0px;
        margin-left: 40px;
        position: relative;
        z-index: 103;
    }
    .search {
        height: 34px;
        /* width: 190px; */
        line-height: 19px;
        /* margin: 36px 0 0 0; */
        margin-left: 40px;
        font-size: 14px;
        border-bottom: 2px solid #9B9B9B;
        padding-bottom: 4px;
        padding-left: 7px;
        margin: 0px;
        position: relative;
        z-index: 104;
    }
    .content .image {
        display: none;
    }
    .main_txt {
        margin-top: 60px;
    }
    .top-logo {
        margin-top: -11px;
        z-index: 109;
    }
    .top-logo img {
        width: 65px;
        padding-left: 17px;
        margin-right: 10px;
    }
    .news-anons .columns {
        float:none;
        width:100%;
    }
    .news-anons .columns-two {
        width:100%;
        float: none;
    }
    .news-anons .columns-two .new-box {
        border-left: 0px;
        padding: 0px;
    }
    #footer .column-f-r {
        width: 100%;
        float: none;
    }
    #footer .column-f-l {
        width: 100%;
        float: none;
    }
    .text-white {
        padding: 0 0px 40px 0;
    }
    #footer {
        padding: 30px 29px;
    }
    .big_resolution {
        display: none;
    }
    .small_resolution {
        display: block;
    }
    .top-logo {
        display: none;
    }
    .top-logo_mobile {
        display: block;
        position: relative;
        z-index: 105;
    }
    .top-logo_mobile img {
        width: 165px;
    }
    .search {
        display: none;
    }
    .right-box {
        display: flex;
        justify-content: center;
    }
    .tabs__caption {
        display: none;
    }
    .drop_menu_mobile {
        display: block;
        position: relative;
        z-index: 110;
    }
    #footer .column-f-l .text-white {
        padding: 0px 0px 25px 0;
    }
    .search_mobile {
        display: block;
    }
    #search input {
        margin: 10px 0 0 5px;
    }
    #search button {
        height: 16px;
        width: 16px;
        background-size: contain;
    }
    .child_menu_link {
        cursor: pointer;
    }
    .search-page input {
        -webkit-appearance: none;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .search-page form input[type="text"] {
        width: 70%;
    }
    .search-page form input[type="submit"] {
        border-radius: 0px!important;
    }
    #search button {
        display: none;
    }
    .pagnav li.noactive {
        line-height: 40px;
    }
    .news-anons .new-box {
        padding: 0 0px 20px 0;
    }
    .main_txt_padd {
        padding: 30px 30px;
    }
    .top-logo {
        margin-top: -11px;
        z-index: 109;
    }
    .top-logo img {
        width: 65px;
        padding-left: 17px;
    }
    .icon-menu {
        padding-left: 4px;
    }
    .right-box {
        padding: 16px 40px 0 0px;
    }
    .search {
        height: 34px;
        width: 105px;
        line-height: 17px;
        /* margin: 36px 0 0 0; */
        margin-left: 25px;
        font-size: 13px;
        border-bottom: 2px solid #9B9B9B;
        padding-bottom: 3px;
        padding-left: 0px;
        margin: 0px;
        position: relative;
        z-index: 104;
        margin-right: 5px;
    }
    #search input {
        background: none repeat scroll 0 0 #fff;
        border: none;
        height: 19px;
        margin: 12px 0 0 5px;
        width: 75px;
        border: 0px;
        background: none;
        color: #5c5b5c;
        opacity: 0.7;
        outline: none;
    }
    .lang-menu {
        margin-right: 24px;
        border-bottom: 0px;
        margin-left: 90px;
        position: relative;
        z-index: 103;
        padding: 0 0px 0 0;
    }
    .doc {
        background-image: none;
        padding: 5px 8px 1px 0px;
    }
}
@media only screen and (max-width : 655px) {
    .lang-menu {
        display: none;
    }
}
@media only screen and (max-width : 350px) {
    .lang-menu {
        margin-right: -13px;
        border-bottom: 0px;
        margin-left: 59px;
        position: relative;
        padding-top: 8px;
        z-index: 103;
    }
    .lang-menu li.ru {
        padding: 0 0px 0 0;
    }
}
/***********************************/