div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}

.news-date-time {
	color:#486DAA;
    top: 10px;
    position: relative;
}

.read-more  a {
  background: none repeat scroll 0 0 #6FA287;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
}

.pagenavigation span.active, .pagenavigation a {
    padding: 0.2em 0.3em;
}
.pagenavigation span.active {
    background: #E5E5D8;
}
.pagenavigation .numbers {
    font-size: 1.2em;
    margin: 0.3em 0;
}