 ul.clist  {
    margin-bottom: 17px;
}
.clist li {
 background: url(../../../img/li.gif) no-repeat 11px 11px;
  padding: 3px 0px 3px 34px;
  /* reset styles (optional): */
  list-style: none;
  margin: 0;
}
 div.cs-skin-border {
     background: transparent;
     font-size: 2em;
     font-weight: 700;
     max-width: 600px;
 }

 @media screen and (max-width: 30em) {
     .cs-skin-border { font-size: 1em; }
 }

 .cs-skin-border > span {
     border: 5px solid #000;
     border-color: inherit;
     transition: background 0.2s, border-color 0.2s;
 }

 .cs-skin-border > span::after,
 .cs-skin-border .cs-selected span::after {
     font-family: 'icomoon';
     content: '\e000';
 }

 .cs-skin-border ul span::after {
     content: '';
     opacity: 0;
 }

 .cs-skin-border .cs-selected span::after {
     content: '\e00e';
     color: #ddd9c9;
     font-size: 1.5em;
     opacity: 1;
     transition: opacity 0.2s;
 }

 .cs-skin-border.cs-active > span {
     background: #fff;
     border-color: #fff;
     color: #2980b9;
 }

 .cs-skin-border .cs-options {
     color: #2980b9;
     font-size: 0.75em;
     opacity: 0;
     transition: opacity 0.2s, visibility 0s 0.2s;
 }

 .cs-skin-border.cs-active .cs-options {
     opacity: 1;
     transition: opacity 0.2s;
 }

 .cs-skin-border ul span {
     padding: 1em 2em;
     backface-visibility: hidden;
 }

 .cs-skin-border .cs-options li span:hover,
 .cs-skin-border li.cs-focus span {
     background: #f5f3ec;
 }

.news-filter {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 250px;
    padding-left: 10px;
    padding-top: 10px;
}

/*TABS*/
 .tabs__content {
     display: none; /* по умолчанию прячем все блоки */
     padding: 10px;
 }
 .tabs__content.active {
     display: block; /* по умолчанию показываем нужный блок */
 }
 ul.tabs__caption {
     list-style: none;
     padding-left: 0px!important;
     clear: both;
 }
 ul.tabs__caption li {
     position: relative;
     float: left;
     cursor: pointer;
     font-size: 21px;
     padding: 10px;
     border: 2px solid #E1E1E1;
     border-bottom: 0px;
     margin-right: 2px;
 }
 ul.tabs__caption li.active {
     font-weight: bold;
 }
 ul.tabs__caption li.active:after {
     content: '';
     position: absolute;
     bottom: -5px;
     left: 0;
     right: 0;
     height: 5px;
     background: #F4F4F4;
 }
 .press__content {
     border: 2px solid #E1E1E1;
 }
 .video-list {
     display:flex;
     flex-wrap:wrap;
 }
 .video-list__item {
     width: 33%;
     width:calc( ( 100% - 40px ) / 3 );
     margin:0 0 20px;
 }
 .video-list__item:nth-child(3n-1) {
     margin-left:20px;
     margin-right:20px;
 }
 .video-list__date {
     padding-top: 5px;
     font-weight: bold;
 }
 .video-list__name a {
     font-weight: bold;
 }
 .video-list__item img {
     width: 100%;
 }
 /*Модальное окно*/
 #modal_form {
     width: 90%;
     height: 80vh; /* Рaзмеры дoлжны быть фиксирoвaны */
     border-radius: 5px;
     border: 3px #E1E1E1 solid;
     background: #fff;
     position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
     opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
     z-index: 1000; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
     padding: 20px 10px;
 }
 /* Кнoпкa зaкрыть для тех ктo в тaнке) */
 #modal_form #modal_close {
     width: 21px;
     height: 21px;
     position: absolute;
     top: 1px;
     right: 0px;
     font-weight: bold;
     cursor: pointer;
     font-size: 18px;
     display: block;
 }
 /* Пoдлoжкa */
 #overlay {
     z-index:900; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
     position:fixed; /* всегдa перекрывaет весь сaйт */
     background-color:#000; /* чернaя */
     opacity:0.8; /* нo немнoгo прoзрaчнa */
     -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
     filter:alpha(opacity=80);
     width:100%;
     height:100%; /* рaзмерoм вo весь экрaн */
     top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
     left:0;
     cursor:pointer;
     display:none; /* в oбычнoм сoстoянии её нет) */
 }
 /*Блок заголовка страниц*/
 .title-box {
     display: flex;
 }
 .title-box__print {
     margin: 0 0 0 auto;
 }
 /************************/
 .social_buttons {
     margin-top: 7px;
 }
 .link-back-soc {
     float: left;
 }
.blue-link {
    padding: 10px 20px;
    font-size: 14px;
    color: #525351;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    border: 2px solid #525351;
    background-color: #F4F4F4;
}