.archive_link {
    font-size: 10px;
    color: #fff;
}
.title-box__print {
    text-align: center;
}
.rss_title{
    padding-top: 4px;
    padding-left: 10px;
}

/* картинка на странице */




.minimized {
    cursor:pointer;
}

.popup {
    position: fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    display:none;
    text-align:center;
    z-index: 1000;
}

.popup_bg {
    background:rgba(0,0,0,0.4);
    position:absolute;
    z-index:400;
    height:100%;
    width:100%;
}


.popup_img {
    position: relative;
    margin:0 auto;
    z-index:500;
    max-height:94%;
    max-width:94%;
    margin:1% 0 0 0;
}